/*
Author: Carson Stevens
Assignment: Advanced HTML and CSS
Date: September 10, 2019
*/


body {
  margin: 0 0;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

/* At least two elements with specified fonts */
h1 {
  margin: 10px auto -20px auto;
  color: #993300;
  font-family: 'Audiowide', cursive;
  font-weight: 400;
  font-size: 5.625rem;
}

h1 + h2 {
  margin-top: 100px;
}

h2 {
  font-family: 'Audiowide', cursive;
  font-weight: 400;
  font-size: 2.6rem;
  color: #993300;
  font-weight: 400;
}


h3 {
  font-family: 'Audiowide', cursive;
  font-weight: 400;
  color: #993300;
}

ul {
  display:table;
  margin:0 auto;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

p {
  color: #003333;
  line-height: 1.75;
}

/* Use at least one pseudo-element */
p::first-letter{
  font-size: 1.5rem;
}

hr {
  border-style: dotted none none none;
  height: 0px;
  border-width: 15px;
  border-color: #993300;
  width: 25%;
  margin-top: 50px;
}

/* Style one or more aspects of an element with an id selector */
#mountzion {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  opacity: 0.45;
  z-index: -1;
}

#nanoreef {
  display: inline;
  height: 1.5rem;
  background-color:inherit;
}

/* Style one or more aspects of an element with a class selector */
.img-small {
  width:70%;
}

.img-medium {
  width:80%;
}

.img-large {
  width:90%;
}

/* Style one or more aspects of a section */
.top-container {
  padding-top: 100px;
  background-color: #003333;
  position: relative;
  line-height: 2;
  margin-bottom: 0;
  height:70vh;
  z-index: -2;
}

/* Style one or more aspects of a section */
.middle-container {
  background-color: #FFCCFF;
  margin-top: -37px;
  margin-bottom: 0;
  padding-top: 20px;
}

.profile:first-of-type {
  margin: 0 auto;
  width: 75%;
  line-height: 2;
  background-color: #ffccff;
  padding-bottom: 10px;
}

.profile {
  margin: 0 auto;
  width: 75%;
  line-height: 2;
  background-color: #ffccff;
  margin-bottom: 50px;
}

#intro-pictures td:first-child {
  padding: 30px;
  border-style: solid;
  border-width: 3px;
  border-radius: 45px;
  border-color: #993300;
}

.pictures tr td:nth-child(even){
  text-align: right;
}

.skills {
  background-color: #003333;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-left: 12.5%;
  padding-right: 12.5%;
  width: 75%;
}
.skill-row {
  margin: 0 auto;
  width: 50%;
  line-height: 2;
  background-color: #ffccff;
  padding-top: 50px;
}


#schedule {
  border: 2px solid #FFCCFF;
  width: 75%;
  text-align: center;
  margin: 0px auto;
}

#schedule tr td, #schedule tr th {
  padding: 0.5rem 1rem;
  border: 1px solid #FFCCFF;
}
/* For Mines Courses Table */
/* The tables should be centered, with a top margin to provide space between tables. */
#courses {
  margin: 10px auto 10vh;
  font-family: 'Audiowide', cursive;
  font-weight: 400;
  color: #993300;
  width: 100%;
}

#courses td, #courses th {
  padding: 8px;
}

/* Use a dashed bottom border for the td elements. Do not include a bottom
border on the last row of the tbody element */
#courses td {
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #993300;
}
#courses tr:last-of-type td {
  border-style: none;
}

#courses tr {
  border-bottom: solid;
  border-bottom-color: ;
  border-bottom-width: 1px;
}

/* Use a background color for alternating rows. Use the nth-of-type pseudo-class */
#courses tr:nth-child(even){
  background-color: #FFCCFF;
}

#courses tr:hover {
  background-color: white;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #FFCCFF;
}

#courses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #993300;
  color: #FFCCFF;
}

/* At least two elements with specified fonts */
/* Use reasonable formatting for the captions.  They should stand out from the
rest of the headers and tables on the page. */
caption {
  font-family: 'Audiowide', cursive;
  font-weight: 400;
  color: #993300;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
